<html>
	<head>
	</head>
	<body>
		<h3>New Field</h3>
		<%= form_for [:customization, :entity, @field] do |f| %>
			<%= f.label :name %>
			<%= f.text_field :name %>
			
			<%= f.label :display_name %>
			<%= f.text_field :display_name %>

			<%= f.label :type %>
			<%= f.select :type, Field::TYPES %>

			<%= f.hidden_field :entity %>
			<%= f.submit %>
		<% end %>
	</body>
</html>
